/* 共通パーツ */

*{
    margin: 0;
    padding: 0;
}

main{
    background-color:#f9f3e6;
    padding: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:#fff;
}

a:hover{
    opacity: .7;
}

.inner{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

header,footer{
    background-color: rgb(189, 65, 20);
    height: 50px;
    padding-top: 10px;
}

#hobby,#ranking,#dog{
    background-color: #fff;
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
}

.section_title{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

/* header */

.header_inner{
    display: flex;
    justify-content:space-between;
}

.site_title{
    font-size: 20px;
}

header ul{
    display: flex;

}

header li{
    margin-left: 30px;
    font-size: 16px;
}

/* hobby */

#hobby{
    margin-bottom: 30px;
    border:rgb(11, 113, 16) 5px dotted;
}

.hobby_list{
    display: flex;
    justify-content: space-between;
    padding-left:0;
}

.hobby_list li{
    width: 33%;
    background-color: gainsboro;
    padding: 10px;
}

.hobby_title{
    font-size: 18px;
    font-weight: bold;
}

.hobby_list p{
    font-size: 16px;
}

.hobby_list img{
    width: 90%;
    margin-bottom: 10px;
}

#ranking{
    border:rgb(193, 134, 32) 5px dotted;
}

/* dog */

#dog{
    margin-bottom: 30px;
    margin-top: 30px;
    border:rgb(168, 61, 35) 5px dotted;
}

.contents {
    text-align: center;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.4s;
  }
  
  .contents.is-open {
    border: 1px solid rgb(159, 159, 154);
    background-color: rgb(230, 212, 212);
    padding: 10px;
    line-height: normal;
    height: auto;
    opacity: 1;
  }

  .menu{
    background-color:rgb(193, 224, 226);
    margin-top: 5px;
  }

  /* footer */

footer{
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


  /* モーダルウィンドウ */

  
  .button {
    background: rgb(200, 110, 62);
    color: #fff;
    padding: 0 2em;
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 900;
    position: relative;
    font-family: serif;
  }

  
  .button:hover {
    background: lightcoral;
    cursor: pointer;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }
  
  @keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  .modal-header h1 {
    margin: 1rem 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .modal-header {
    background: rgb(196, 239, 186);
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .modalClose {
    font-size: 2rem;
  }
  
  .modalClose:hover {
    cursor: pointer;
  }
  
  .modal-body {
    padding: 10px 20px;
    color: black;
  }
  


@media screen and (max-width:780px){

    .site_title{
        font-size: 16px;
    }

    main{
        padding-top: 100px;
    }

    header{
        padding-top: 15px;
        position:fixed;
        top: 0;
        width: 100vw;
    }

    header nav ul li{
        font-size: 13px;
        margin-left: 10px;
    }

    .hobby_list{
        flex-direction: column;
    }

    .hobby_list li{
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
    }

    .pc_only{
        display: none;
    }
    
}


